/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

/* Styles for class 't' */
.t {
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  font-size: 40px;
  text-align: center;
  top: 5%;
}

/* Styles for the table */
table {
  font-family: 'Noto Sans KR', sans-serif;
  border: 0px solid #444444;
  border-collapse: collapse;
  position: fixed;
  top: 200px;
  right: 900px;
  width: 400px;
}

/* Styles for table header and cells */
th, td {
  font-size: 25zpx;
  border: 0px solid #444444;
  padding: 10px;
  text-align: center;
}
